<template>
    <div class="gram-formula">
        <fieldset>
            <legend>Wagen info</legend>

            <label for="type-brandstof">Type brandstof</label>
            <select id="type-brandstof" v-model="input.brandstofType">
                <option value="diesel">Diesel</option>
                <option value="CNCGroot">CNC Groot</option>
                <option value="CNCKlein">CNC Klein</option>
                <option value="benzine">Benzine</option>
                <option value="elektrisch">Elektrisch</option>
            </select>

            <div>
                <p>Is de wagen een valse hybride?</p>
                <label for="fake-hybrid-yes" class="custom-radio-container">
                    Ja
                    <input type="radio" name="simpleView" v-model="input.isFakeHybrid"
                           id="fake-hybrid-yes"
                           :value="true">
                    <span class="custom-radio-btn"></span>
                </label>

                <label for="fake-hybrid-no" class="custom-radio-container">
                    Neen
                    <input type="radio" name="notSimpleView" v-model="input.isFakeHybrid"
                           id="fake-hybrid-no"
                           :value="false">
                    <span class="custom-radio-btn"></span>
                </label>
            </div>

            <div v-if="input.isFakeHybrid">
                <p>Ik ken de CO2 uitstoot</p>
                <label for="fake-hybrid-co2-yes" class="custom-radio-container">
                    Ja
                    <input type="radio" name="simpleView" v-model="input.knownCo2FakeHybrid"
                           id="fake-hybrid-co2-yes"
                           :value="true">
                    <span class="custom-radio-btn"></span>
                </label>

                <label for=fake-hybrid-co2-no class="custom-radio-container">
                    Neen
                    <input type="radio" name="notSimpleView" v-model="input.knownCo2FakeHybrid"
                           id="fake-hybrid-co2-no"
                           :value="false">
                    <span class="custom-radio-btn"></span>
                </label>
            </div>

            <template v-if="!input.isFakeHybrid">
                <label for="co2-uitstoot">CO2 uitstoot</label>
                <input type="number" id="co2-uitstoot" v-model="input.co2Uitstoot"/>
            </template>

            <template v-if="input.knownCo2FakeHybrid && input.isFakeHybrid">
                <label for="co2-uitstoot-fake-hybrid">CO2 uitstoot
                    Valse Hybride</label>
                <input type="number" id="co2-uitstoot-fake-hybrid" v-model="input.co2FakeHybrid"/>
            </template>
        </fieldset>

        <div class="response" v-if="response !== null">
            Uw aftrekbaarheidspercentage bedraagt: {{ response.resultPercentage }}%.
        </div>

        <button @click="calculate">Bereken mijn aftrekbaarheid</button>
    </div>
</template>

<script>

    class Input {
        brandstofType = 'benzine';
        co2Uitstoot = null;
        isFakeHybrid = false;
        co2FakeHybrid = null;
        knownCo2FakeHybrid = false;
    }


    export default {
        name: "GramFormula",
        data() {
            return {
                input: new Input(),
                response: null,
            }
        },
        props: {
            baseUrl: {
                default: () => '',
                type: String
            },
            token: {
                type: String
            }
        },
        methods: {
            calculate() {
                let axios = {};
                if (this.token) {
                    axios = this.$http.create({
                        headers: {
                            Authorization: this.token
                        }
                    });
                } else {
                    axios = this.$http;
                }
                this.response = null;
                axios.post(this.baseUrl + '/calculator/gramformule', this.input)
                    .then(({data}) => this.response = data.data);
            }
        }
    }
</script>

<style scoped>

</style>